<div class="edit">
  <div class="edit_title">
    <h1>スケジュール編集</h1>
  </div>

  <%= render 'form', schedule: @schedule %>

  <%#= link_to 'Show', @schedule %> 
  <div class="edit_link">
    <%= link_to 'Topページへ戻る', schedules_path %>
  </div>
</div>